# Ignoring MacOS + IDE files
.DS_Store
*.Rproj
.Rproj.user
.idea/*
__pycache__*

# Ignoring scripts used for prototyping
scratchpad.py

# Ignoring select directories
outputs/extracted_features/*
final_paper/*
data/*

