# Ignoring MacOS + IDE files
.DS_Store
*.Rproj
.Rproj.user
.idea/*
__pycache__*

# Ignoring anything in data/ directory
data/*

# Ignoring scripts used for prototyping other functions
scratchpad.py
testing/*
