# Ignoring MacOS + IDE files
.DS_Store
*.Rproj
.Rproj.user
.idea/*
__pycache__*

# Ignoring anything in data/ directory and datasets
data/*
*.npz
*.csv

# Ignoring scripts used for prototyping
scratchpad.py

# Ignoring select directories
testing/*
outputs/ms_incountry/*
outputs/extracted_features/*

